body {
    background-color: rgb(48, 48, 48);
    color: rgb(211, 195, 174);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header img {
    display: flex;
    justify-content:space-between;
}
section {
    background-color: rgb(224, 224, 224);
    color:  rgb(48, 48, 48);;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    margin: auto;
}
section input {
    border-radius: 5px;
    border: 0;
    margin: 10px;
    height: 20px;
    width: 200px;
}
#botão {
    border-radius: 8px;
    border-color: rgb(211, 195, 174);
    background-color: rgb(50, 131, 252);
    height: 25px;
    width: 100px;
    color: rgb(224, 224, 224);
}
#resposta {
    padding: 20px;
    text-align: center;
}